<%- include("header") -%>
<div class="jumbotron container container-fluid">
    <h2>This is about page</h2>
    <br>
    <p id="par">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae sollicitudin neque. Sed porttitor eleifend
        risus bibendum imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        curae;
        Pellentesque sed arcu ac nisi vulputate pulvinar. Mauris accumsan eleifend consectetur. Suspendisse ante elit,
        convallis nec arcu vulputate, pellentesque fringilla dui. Maecenas leo odio, consequat id arcu nec, aliquet
        aliquam
        ante. Donec nec felis metus.

        Ut ut nunc sit amet nisl egestas ultrices ut eu tellus. Fusce vel est non ex euismod hendrerit. Maecenas at elit
        lectus. Nullam ligula lectus, accumsan sed suscipit quis, imperdiet eu enim. Nam vitae ante eu tellus malesuada
        ornare condimentum at lectus. Pellentesque lobortis luctus leo vel semper. Integer quis mi urna. Class aptent
        taciti
        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nec ultrices sem.
    </p>
</div>

</body>

</html>